@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #000000;
  --color-secondary: #666666;

  --breakpoint-xs: 475px;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    scroll-padding-top: 5rem;
  }

  @media (min-width: 768px) {
    :root {
      scroll-padding-top: 7rem;
    }
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}